#root {
  padding: 0px !important;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fafafa;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* min-width: 100vw; - this would cause horizontal scroll */
  /* min-height: 100vh; - this would cause vertical scroll */
  max-width: 100vw;
  max-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

